body {
  font-family: sans-serif;
  background-color: #e7e7e7;
}

.chatWindow {
  background-color: #ffffff;
  height: 240px;
  width: 60%;
  overflow-y: auto;
}

.plainBorder {
  border: 1px solid #000;
}

.nameField {
  width: 20%;
}

.messageField {
  width: 50%;
}

.hidden {
  display: none;
}

.modal {
  background-color: #ffffff;
  -moz-box-shadow: 0 0 5px #474747;
  -webkit-box-shadow: 0 0 5px #474747;
  box-shadow: 1px 1px 5px 2px #474747;
  margin-left: -200px;
  position: absolute;
  top: 20%;
  left: 50%;
  width: 400px;
  display: none;
}

.modalContent {
  padding: 5px;
}
