#lobbies
  h1
    | Welcome to WebCiv, {{ username }}!
  p Search Lobby Name:
    input(ng-model='search.name', type='text')
    | Show Full:
    input(ng-model='search.showFull', type='checkbox')
  p
    button(ng-click='openModal("newlobby")') New Lobby
  p(ng-repeat='lobby in lobbies | filter:{name: search.name}',
    ng-show='lobby.usersConnected < lobby.maxPlayers || search.showFull')
    | {{ lobby.name }} ({{ lobby.usersConnected }}/{{ lobby.maxPlayers}})
    span(ng-show='lobby.canJoin')  -
      button.lobbyJoin(ng-click='lobbyJoin(lobby.name)')
        | Join
